a{
	text-decoration: none;
}
/**********************	General Spacing	***********************************/

/*h1,h2,h3{
	margin-bottom: 20px;
}

h4,h5{
	margin-bottom: 15px;
}

p,h6{
	margin-bottom: 10px;
}*/

/*********************	General Class	***********************************/

.img-responsive{
	height: auto;
	max-width: 100%;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-justify{
	text-align: justify;
}

.dib{
	display: inline-block;
}

.db{
	display: block;
}

.d-grid {
	display: grid;
}

.list-none{
	list-style: none;
}

.btn{
	padding: 7px 10px;
	background: none;
	cursor: pointer;
	outline: none;
	border: 1px solid #222;
	font-size: 1.1rem;
	display: inline-block;
}


.m-r-2{
	margin-right: 20px;
}

.m-y-1 {
	margin: 3rem 0;
}

