.container-fluid{
	width: 100%;
}

.container{
	/*width: 700px;*/
	margin: 0 10%;
}

.row:after{
	content: '';
	display: block;
	clear: both;
}

.col{
	float: left;
}

.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.33%;
}

.col-5{
	width: 41.66%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.33%;
}

.col-11{
	width: 91.66%;
}

.col-12{
	width: 100%;
}


@media (min-width: 320px) and (max-width: 800px){
	.col-3,.col-4,.col-6,.col-9{
		width: 100%;
	}

	.our-gallery-container .col-3{
		width: 50%;
	}

	.our-gallery-container .col-4{
		width: 33.3%;
	}

	.instagram-posts-container .col-6{
		width: 50%;
	}

	.container{
		margin: 0 5%;
	}
}


@media (min-width: 801px) and (max-width: 1000px){
	.col-3{
		width: 50%;
	}

	.col-6{
		width: 50%;
	}
}