*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: normal;
}

body{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

header.main-heading{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.d-flex {
	display: flex;
}


.kidhouse-navigation__header-info{
	margin-left: 15px;
}

.header-info__title{
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 3px;
	font-weight: bold;
}

.header-info__subtitle{
	font-size: 0.7rem;
}

.header-info__search-logo i{
	font-size: 1rem;
	border: 1px solid #101010;
	padding: 8px;
	border-radius: 100%;
	cursor: pointer;
}


.header-info__social-media-icon{
	border-left: 1px solid #101010;
	margin-left: 5px;
}

.header-info__social-media-icon i{
	border-radius: 100%;
	padding: 8px;
	font-size: 1rem;
	cursor: pointer;
	color: #fff;
}

.header-info__social-media-icon i:nth-child(1){
	background-color: #fad643;
	margin-left: 5px;
}

.header-info__social-media-icon i:nth-child(2){
	background-color: #fe6a86;
}

.header-info__social-media-icon i:nth-child(3){
	background-color: #28affa;
}

.header-info__social-media-icon i:nth-child(4){
	background-color: #57cc99;
}

.links{
	display: inline-block;
	padding: 8px 20px;
}

.links a:link{
	color: #101010;
	display: inline-block;
	font-size: 1.1rem;
}

.links a:visited{
	color: #101010;
}

.links a:hover{
	border-bottom: 2px solid #42C2FF;
}

.main-heading .kidhouse-navigation{
	padding: 10px;
	box-shadow: 0px 2px 5px grey;
	background-color: #fff;
}


.image-banner{
	position: relative;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.overlay .container {
	justify-content: center;
    align-items: center;
    height: 90vh;
}

.overlay__heading{
	color: #fff;
	text-transform: capitalize;
	font-size: 6rem;
	letter-spacing: 1px;
	font-weight: bolder;
}

.overlay__heading-text{
	color: #42C2FF;
	font-weight: bolder;
}

.ovelay_subtitle{
	color: #fff;
	text-transform: capitalize;
	font-weight: 400;
}

.cta-btn{
	background-color: #42C2FF;
	padding: 15px 40px;
	color: #fff;
	font-size: 1.2rem;
	margin-top: 15px;
	display: inline-block;
	border-radius: 25px;
	transition: background-color 1s, color 1.5s;
}

.cta-btn:hover{
	background-color: #fff;
	color: #42C2FF;
}

.mobile-img{
	display: none;
}

.school-card{
	padding: 20px;
	color: #fff;
}

.school-card__header{
	font-size: 1.4rem;
	text-transform: uppercase;
	padding: 10px 0;
}

.school-card__icon i{
	font-size: 2rem;
	padding: 15px;
	margin: 10px 0;
	border: 2px solid #fff;
}

.school-card__info{
	font-size: 1rem;
	padding: 10px 0;
}

.school-card.card-1{
	background-color: #70d6ff;
}

.school-card__icon.card-1-icon i{
	background-color: #0092CC;
}

.school-card.card-1:hover{
	background-color: #0092CC;
}

.school-card.card-1:hover i{
	background-color: #70d6ff;
}
	
.school-info-container .row div:nth-child(2){
	background-color: #80ed99;
}

.school-card__icon.card-2-icon i{
	background-color: #57cc99;
	padding: 15px 25px;
}

.school-info-container .row div:nth-child(2):hover{
	background-color: #57cc99;
}

.school-info-container .row div:nth-child(2):hover i{
	background-color: #80ed99;
}

.school-info-container .row div:nth-child(3){
	background-color: #ffd60a;
}

.school-card__icon.card-3-icon i{
	background-color: #ffc300;
	padding: 15px 20px;
}

.school-info-container .row div:nth-child(3):hover{
	background-color: #ffc300;
}

.school-info-container .row div:nth-child(3):hover i{
	background-color: #ffd60a;
}

.school-info-container .row div:nth-child(4){
	background-color: coral;
}

.school-card__icon.card-4-icon i{
	background-color: #f95231;
	padding: 15px 20px;
}

.school-info-container .row div:nth-child(4):hover{
	background-color: #f95231;
}

.school-info-container .row div:nth-child(4):hover i{
		background-color: coral;
}

.school-info-container{
	margin-bottom: 50px;
}

.our-activities{
	margin-bottom: 20px;
}

.our-activitues__title,
.our-teachers-container__title,
.popular-courses-container__title,
.upcoming-events-container__title,
.our-gallery-container__title{
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	border-left: 5px solid #ffd60a;
	padding-left: 10px;
}

.our-activities__subtitle,
.our-teachers-container__subtitle,
.popular-courses-container__subtitle,
.upcoming-events-container__subtitle,
.our-gallery-container__subtitle{
	font-size: 1.1rem;
	margin: 10px 0 40px 0;
	color: gray;
}

.our-activities__card-container{
	box-sizing: border-box;
	margin-right: 20px;
	background-color: #fff;
	box-shadow: 0 2px 8px 2px lightgrey;
	margin-bottom: 30px;
}

.our-activities .card-container__img{
	font-size: 4rem;
	padding: 10px 20px;
	display: inline-block;
	color: #70d6ff;
}

.our-activities .card-container__title{
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
	color: grey;
	padding: 10px 20px;
}

.our-activities .card-container__details{
	padding: 10px 20px;
	font-size: 1rem;
}

.our-activities .card-container__read-btn:link{
	color: #101010;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
	padding: 8px;
	border: 1px solid #101010;
	display: inline-block;
	margin: 15px 20px;
}


.our-activities .card-container__read-btn:visited{
	color: #101010;
}

.our-activities .card-container__read-btn:hover{
	background-color: rgba(2, 2, 2, 0.7);
	color: #fff;
}

.our-activities .card-container__read-btn i{
	padding-right: 5px;
}

.our-activities .fa-trophy, .our-activities .fa-flask{
	color: #ffc300;
}

.our-activities .fa-bus, .our-activities .fa-paint-brush{
	color: coral;
}

.about-us-container__about-content{
	background-color: #70d6ff;
	color: #fff;
	padding: 1.2rem;
	flex-direction: column;
	justify-content: center;
}

.about-content__title{
	font-size: 2rem;
	text-transform: uppercase;
	padding: 30px 0 0 0;
}

.about-content__title-2{
	font-size: 2rem;
	text-transform: uppercase;
}

.about-content__subtitle{
	font-size: 1rem;
	text-transform: uppercase;
	padding: 5px 0;
}

.about-content__info{
	padding: 5px 0;
	font-size: 0.9rem;
}

.about-content__learn-btn:link{
	background-color: #fff;
	padding: 15px;
	display: inline-block;
	margin: 10px 0;
	color: #70d6ff;
	font-size: 1rem;
}

.about-content__learn-btn:visited{
	color: #70d6ff;
}

.about-content__learn-btn:hover{
	background-color: #0092CC;
	color: #fff;
}


.about-us-container .row {
	grid-template-columns: 50% 50%;
}

/*teachers container styling starts here*/

.our-teachers-container{
	margin-bottom: 40px;
}

.our-teachers-container__card-container .row,
.card_container_teacher-card {
	grid-template-columns: 1fr 1fr;
}

.our-teachers-container__card-container .row {
	gap: 1rem;
}

.teacher-card__content-1,.teacher-card__content-2,.teacher-card__content-3,.teacher-card__content-4{
	background-color: #0092CC;
	color: #fff;
}

.teacher-card__content-fixer {
	flex-direction: column;
	justify-content: center;
}

.teacher-card__teacher-name{
	font-size: 1.1rem;
	padding: 15px 5px 0 10px;
}

.teacher-card__teacher-work{
	font-size: 1.4rem;
	padding: 5px 5px 10px 10px;
	text-transform: uppercase;
}

.teacher-card__course-info{
	padding: 10px 5px 10px 10px;
	font-size: 1rem;
}

.teacher-card__learn-more-btn:link,.teacher-card__learn-more-btn:visited{
	background-color: #fff;
	color: #0092CC;
	padding: 10px 15px;
	margin: 10px 5px 39px 10px;
	font-size: 1.1rem;
}

.teacher-card__learn-more-btn:hover{
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
}

.teacher-card__content-2{
	background-color: #57cc99;
}

.teacher-card__content-3{
	background-color: #ffc300;
}

.teacher-card__content-4{
	background-color: violet;
}

/*News letter styling starts here*/

.newsletter-container{
	background-color: whitesmoke;
	padding: 40px 0;
}

.newsletter-container__image{
	padding-top: 10px;
}

.newsletter-container__title,.newletter-container__heading{
	text-transform: uppercase;
	padding: 0 0 10px 5px;
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-weight: 600;
	color: #70d6ff;
}

.newaletter-container__info{
	padding-left: 5px;
	font-size: 1rem;
}

.newletter-container__heading{
	color: #101010;
	padding-left: 0;
}

.newsletter-container__email-input{
	padding: 10px;
	border: 1px solid grey;
	width: 100%;
}
.newsletter-container__submit-btn{
	background-color: #70d6ff;
}


.popular-courses-container{
	background-color: #333;
	padding: 50px 0;
	color: #fff;
}

.popular-courses-container__subtitle{
	color: #fff;
}

.popular-courses-cards{
	box-shadow: -5px -5px #fff;
	margin-right: 25px;
	margin-bottom: 25px;
}

.popular-courses-cards__content{
	background-color: #70d6ff;
	padding: 15px;
}

.popular-courses-cards__content-title{
	font-size: 1.3rem;
	padding-bottom: 10px;
	font-weight: 500;
	text-transform: uppercase;
}

.popular-courses-cards__content-info{
	font-size: 1.1rem;
	padding-bottom: 10px;
}

.popular-courses-cards__content-btn:link{
	background-color: #fff;
	color: #0092CC;
	padding: 10px 15px;
}

.popular-courses-cards__content-btn:visited{
	color: #0092CC;
}

.popular-courses-cards__content-btn:hover{
	cursor: pointer;
	background-color: #333;
	color: #fff;
}

.popular-courses-cards__content-rating{
	padding: 10px;
}

.popular-courses-cards__content.content-card-1{
	background-color: #fdae76;
}

.popular-courses-cards__content.content-card-2{
	background-color: #57cc99;
}

.popular-courses-cards__content.content-card-3{
	background-color: coral;
}

.popular-courses-cards__content.content-card-4{
	background-color: #ffc300;
}

.popular-courses-cards__content.content-card-5{
	background-color: violet;
}

/*upcoming events styling starts here*/

.upcoming-events-container .container .row:nth-child(2) {
	grid-template-columns: 1fr 1fr;
	gap: 0 1rem;
}

.upcoming-events-container{
	margin: 50px 0;
}

.upcoming-events-container__image img{
	border-radius: 20px;
}

.upcoming-events-container__card-container{
	padding: 0 30px;
	display: inline-block;
}

.upcoming-events-container__events-card-1,
.upcoming-events-container__events-card-2,
.upcoming-events-container__events-card-3,
.upcoming-events-container__events-card-4{
	background-color: #70d6ff;
	padding: 20px;
	color: #fff;
	text-transform: capitalize;
	border-radius: 10px;
	margin: 40px 0 40px 10px;
}

.events-card__date,
.events-card__date-2,
.events-card__date-3,
.events-card__date-4{
	background-color: #0092CC;
	font-size: 1.5rem;
	padding: 15px 25px;
	border-radius: 100%;
	display: inline-block;
}

.events-card__date__month{
	font-size: 1.2rem;
	text-align: center;
}

.events-card__event-name{
	font-size: 1.5rem;
	font-weight: 500;
	padding: 20px 0 10px 10px;
}

.events-card__event-time{
	padding-left: 10px;
	font-size: 0.9rem;
}

.upcoming-events-container__events-card-2{
	background-color: #80ed99;
}

.events-card__date-2{
	background-color: #57cc99;
}

.upcoming-events-container__events-card-3{
	background-color: #ffc300;
}

.events-card__date-3{
	background-color: #ffd60a;
}

.upcoming-events-container__events-card-4{
	background-color: coral;
}

.events-card__date-4{
	background-color: #f95231;
}


.our-gallery-container{
	padding: 30px 0;
}

.our-gallery__image-card{
	position: relative;
}

.our-gallery-container__overlay{
	background-color: rgba(112, 214, 255, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.our-gallery__image-overlay__title,
.our-gallery__image-overlay__arts-title,
.our-gallery__image-overlay__costume-title{
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	height: 100%;
	align-items: center;
    justify-content: center;
}

.our-gallery__image-overlay__arts-title{
	font-size: 2.2rem;
	padding: 220px 0;
}

.our-gallery__image-overlay__costume-title{
	font-size: 2.5rem;
	padding: 150px 0;
}

.our-gallery__image-card:hover .our-gallery-container__overlay{
	display: block;
	cursor: pointer;
}

footer{
	background-color: #333;
	padding: 50px 0;
	color: #fff;
}

.footer-heading-info-container{
	padding-left: 10px;
}

.footer-heading-info-container__title{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 1.8rem;
}
.footer-heading-info-container__subtitle{
	font-size: 1rem;
}

.footer-info{
	padding-top: 20px;
	text-align: justify;
}

.instagram-posts-container, .footer-contact-container{
	margin-left: 20px;
}

.instagram-posts-container__title,.footer-contact-container__title{
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 20px;
}

.instagram-posts img{
	padding: 0 5px 5px 0;
}

.contact-office-1{
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
	margin-bottom: 20px;
}

.contact-office__title{
	padding-bottom: 15px;
	font-size: 1.1rem;
	color: yellow;
}

.contact-office-1__address{
	padding-bottom: 10px;
}




@media (min-width: 320px) and (max-width: 800px)
{
	header{
		display: none;
	}

	.desktop-img {
		display: none;
	}

	.mobile-img {
		display: block;
		height: 100vh;
	}

	.overlay {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.overlay__heading {
		font-size: 5rem;
		margin-top: 0;
	}

	.cta-btn {
		font-size: 1.5rem;
		border-radius: 25px;
	}

	.our-activities__card-container{
		margin-right: 0;
	}

	.about-us-container .row {
		grid-template-columns: 1fr;
	}

	.about-us-container__about-content{
		margin: 0;
	}

	.about-us-container__image{
		margin-bottom: 50px;
	}

	.our-teachers-container__card-container .row,
	.card_container_teacher-card {
		grid-template-columns: 1fr;
	}

	.teacher-card__content,
	.teacher-card__content-2,
	.teacher-card__content-3,
	.teacher-card__content-4{
		margin-right: 0;
	}

	.newsletter-form-container{
		margin-top: 20px;
	}

	.popular-courses-cards{
		margin-right: 0;
	}

	.upcoming-events-container .container .row:nth-child(2) {
		grid-template-columns: 1fr;
	}

	.upcoming-events-container__image img{
		display: none;
	}

	.upcoming-events-container__subtitle{
		margin-bottom: 0;
	}

	.upcoming-events-container__events-card-1,
	.upcoming-events-container__events-card-2,
	.upcoming-events-container__events-card-3,
	.upcoming-events-container__events-card-4{
		margin-left: 0;
	}

	.events-card__date,
	.events-card__date-2,
	.events-card__date-3,
	.events-card__date-4{
		text-align: center;
		display: block;
		border-radius: 10px;
	}

	.events-card__event-name,
	.events-card__event-time{
		padding-left: 0;
	}

	.events-card__details{
		text-align: center;
	}

	.our-gallery-container__overlay{
		display: block;
		background-color: rgba(0, 0, 0, 0);
		height: auto;
		width: auto;
	}

	.our-gallery__image-card{
		margin: 5px;
	}

	.our-gallery__image-overlay__title,
	.our-gallery__image-overlay__arts-title{
		font-size: 1rem;
		background-color: #70d6ff;
		display: block;
		padding: 2px;
	}

	.our-gallery__image-overlay__arts-title{
		background-color: coral;
	}

	.our-gallery__image-overlay__costume-title{
		display: block;
		padding: 5px;
		background-color: #57cc99;
		font-size: 1.4rem;
	}

	.instagram-posts-container{
		margin: 40px 0 20px 0;
	}

	.footer-contact-container{
		margin-left: 0px;
		margin: 20px 0;
	}

}